.project
.pytest_cache
.classpath
*~
/bin/
build/**
.vscode
.coverage
dist/
build/
wheelhouse/

# cmake files
CMakeCache.txt
*.cmake
Makefile
CMakeFiles/

# Targets
fact_test
libfact.so
libKernel.*

# Environments
.venv
venv
.env
.envrc
.direnv
.devenv
