name: Build and test pyfactxx

on:
  workflow_dispatch:
  push:
    branches: [master, "wheels"]
  pull_request:
    branches: [master, "wheels"]

permissions:
  contents: read # access to check out code and install dependencies

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v5

      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package
        run: uv sync --all-extras --dev

      - name: Test with pytest
        run: uv run pytest
