name: Build and publish pyfactxx

on:
  release:
    types: [created]

permissions:
  contents: read # access to check out code and install dependencies

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v5

      - uses: ./.github/actions/msvc-dev-cmd

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.0

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Build sdist
        run: uv build --sdist

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-sdist
          path: dist/*.tar.gz

  publish:
    runs-on: ubuntu-latest
    needs: [build_wheels, build_sdist]
    environment:
      name: pypi
      url: https://pypi.org/p/pyfactxx
    permissions:
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing
      contents: read
    steps:
      - uses: actions/download-artifact@v5
        with:
          # unpacks all CIBW artifacts into dist/
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - name: Publish packages
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          packages-dir: dist/
          # # useful for testing:
          # verbose: true
          # repository-url: https://test.pypi.org/legacy/
          # user: __token__
          # password: ${{ secrets.PYPI_API_TOKEN }}
